// COLORS
$dark-gray: #252525;
$light-gray: #57647C;
$pink: #F23779;
$orange: #FF6803;
$light-orange: #FFA62E;
$light: #fff;
$shadow-gray: rgba(87, 100, 124, 0.15);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
$poppins: 'Poppins', sans-serif;
$poppins-semibold: 'Poppins Semibold', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-medium: 'Roboto Medium', sans-serif;